.btn__info-zrr{
    background-color: hsla(181, 100%, 39%, 0.50);
    border-radius: 5px;
    border: 1.5px solid hsla(181, 100%, 39%, 0.50);
    padding: 0.5em;
    width: 20rem;

}

.btn__info-zrr:hover{
    background-color: hsla(181, 100%, 39%, 0.75);
    border: 1.5px solid hsla(181, 100%, 39%, 0.75);
    border-radius: 5px;
    padding: 0.5em;
}

.active{
    background-color: hsla(181, 100%, 39%, 1);
    border-radius: 5px;
    padding: 0.5em;
    border: 1.5px solid black;
}

.info-zrr__title{
    font-weight: 600;
    margin: 1rem;
}

.info-zrr__elements {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    padding: 1rem;
}
.info-zrr__element {
    margin-bottom: 0.5rem;
    font-weight: 500;
}

#errorMessage{
    font-weight:600;
    color: rgb(181, 45, 45);
    margin: 1rem;
}
